
body {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

/* 段落 */
p{
    margin-left: 5mm;
    margin-right: 5mm;
    margin-bottom: 0;
    text-indent: 1em;
}

p+p {
    margin-top: 0;
}


/* テキスト */
a {
    color: #666666;
}

#TOC a{
    color: #000000;
}


/* 画像 */

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

figcaption{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}


/* 表 */

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-collapse: collapse;
}

tr {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

tr.header {
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
}

tbody>tr:last-of-type {
    border-top: solid 1px #000000;
    border-bottom: solid 2px #000000;
}

/* その他 */



/* 印刷 */

@page {
    size: A4;
}

@media print {
    header{
        page-break-after: always;
    }

    nav{
        margin-top: 4cm;
        margin-bottom: 4cm;
        page-break-after: always;
    }
    
    header>h1{
        margin-left: auto;
        margin-right: auto;
        margin-top: 12cm;
        text-align: center;
    }
    
    header>p{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h1,h2,h3,h4,h5,h6{
        page-break-after: avoid;
    }
}
